<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eric.conectandosaude">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.Main.DetalhesConsultaActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".Activity.Agendamento.QuartoDataHoraAgendarActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Activity.Agendamento.TerceiroConfirmaMedActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".Activity.Agendamento.SegundoListMedActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activity.Agendamento.PrimeiroEspActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Activity.MenuMain.SobreAppActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Activity.MenuMain.DadosPacienteActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".Activity.Main.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activity.LoginCadastro.CadastroActivity" />
        <activity android:name=".Activity.LoginCadastro.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>